{{#hasprogressbar}}
	{{#progress}}
	<div class="progress courseview">
	    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{progress}}" progress-steps="{{progresscnt}}" completedmods="{{completedmods}}" style= "width: {{progress}}%" aria-valuemin="0" aria-valuemax="100"> 
	    	<div class="small">
			    <span class="sr-only"> {{#str}}aria:courseprogress, block_myoverview{{/str}}</span>
			    <strong>{{progress}}{{#str}}myprogresspercentage, theme_learnr{{/str}} </strong>
			</div>
	    </div>
	</div>
	{{#js}}
	require(['theme_learnr/dynprbar'], (dynprbar) => dynprbar.init());
	{{/js}}	
	{{/progress}}
{{/hasprogressbar}}